@using System.Linq
@model List<Octokit.Language>
<div>
    @for (int i = 0; i < 5; i++)
    {
        <select class="form-control selected-language">
            @foreach (var language in Enum.GetNames(typeof(Octokit.Language)).ToList())
            {
                <option>@language</option>
            }
        </select>
    }
    <div class="row">
        <div class="col-center col-lg-6">
            <button id="find-store" type="button" class="btn btn-primary">Buscar e Armazenar</button>
        </div>
    </div>
    <div id="repos-result" hidden>
    </div>
</div>

<style>
    .col-center{
        float: none;
        margin: 0 auto;
    }
</style>